<div class="mat-container">
	<ng-container *ngIf="userList$ | async as userData">

		<mat-table #table [dataSource]="userData.data">
			<ng-container matColumnDef="userId">
				<mat-header-cell *matHeaderCellDef> UserId </mat-header-cell>
				<mat-cell *matCellDef="let element">
					{{element?.userid}}
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="name">
				<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
				<mat-cell *matCellDef="let element"> 
					{{ element?.owner?.name }} {{ element?.owner?.surname }}
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="photo">
				<mat-header-cell *matHeaderCellDef> Photo </mat-header-cell>
				<mat-cell *matCellDef="let element"> 
					<img alt="{{ element?.owner?.name }} {{ element?.owner?.surname }}"
						src="{{ element?.owner?.foto }}" width="100px" height="100px" >
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="vehicleCount">
				<mat-header-cell *matHeaderCellDef> Vehicle Count </mat-header-cell>
				<mat-cell *matCellDef="let element">
					{{ element?.vehicles?.length }}
				</mat-cell>
			</ng-container>
			<ng-container matColumnDef="noData">
				<!-- <mat-header-cell *matHeaderCellDef> Error</mat-header-cell> -->
				<mat-cell *matCellDef="let element" [attr.colspan]="4">
					<span>No data</span>
				</mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row 
				*matRowDef="let row; columns: displayedColumns; when: hasData"
				[routerLink]="'/vehicles/' + row.userid"
			></mat-row>
			<mat-row *matRowDef="let row; columns: ['noData']; when: noData"></mat-row>

		</mat-table>
	</ng-container>
</div>