.mat-container {
	display: flex;
	flex-direction: column;
	min-width: 300px;
}

.mat-table {
	overflow: auto;
}

.mat-row:hover {
	background-color: lightblue;
	cursor: pointer;
}

ngx-json-viewer {
	width: 100%;
}

.mat-column-userId {
	flex: none;
	width: 50px;
}

.mat-column-photo {
	flex: none;
	width: 100px;
}

.mat-column-noData {
	text-align: center;
	justify-content: center;
	color: red;
}

.mat-column-vehicleCount {
	text-align: center;
	justify-content: center;
}
