<ng-container *ngIf="vehicles$ | async as vehicleData" >
	<ng-container *ngIf="user$ | async as userData">
	<div class="mat-container" cdkDrag cdkDragBoundary="app-map-view" [hidden]="isLoading">
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Click to see&nbsp;<b>{{ userData?.owner?.name }} {{ userData?.owner?.surname }}</b>&nbsp;vehicle list
				</mat-panel-title>
			</mat-expansion-panel-header>
			<mat-table class="vehicle-list" #table [dataSource]="vehicleData.data | filterValidVehicles">
				<ng-container matColumnDef="vehicleid">
					<mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span 
							class="hollow-circle" 
							[ngStyle]="{'background-color': getCarInfo(element.vehicleid, userData?.vehicles).color}">
						</span>
						<span class="vehicle-id-span ellipsis">
							{{ element.vehicleid + ' - ' + getCarInfo(element.vehicleid, userData?.vehicles)?.model}}
						</span>
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="lat">
					<mat-header-cell *matHeaderCellDef> Latitude </mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="ellipsis">{{element.lat }}</span>
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="lon">
					<mat-header-cell *matHeaderCellDef> Longitude </mat-header-cell>
					<mat-cell *matCellDef="let element">
						<span class="ellipsis">{{element.lon }}</span>
					</mat-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"
					[ngClass]="{'highlight': selectedVehicle == row}"
					(click)="highlightOnMap(row)">
				</mat-row>
			</mat-table>
		</mat-expansion-panel>
	</div>
	<app-map #map [vehicles]="vehicleData.data | filterValidVehicles" 
		[ngStyle]="isLoading && {'opacity': '0'}"
		[data]="userData"
		[selectedVehicle]="selectedVehicle"
		(selectedVehicleEvent)="highlightVehicle($event)"
		(mapLoadingDoneEvent)="pageLoaded()"
	></app-map>
	</ng-container>
</ng-container>
<app-loading *ngIf="isLoading" ></app-loading>