.mat-container {
	display: flex;
	flex-direction: column;
	max-height: 500px;
	height: auto !important;
	height: 500px;
	min-width: 250px;
	position: absolute;
	top: 70px;
	left: 70px;
	z-index: 1000;
}

.hollow-circle {
	width: 5px;
	height: 5px;
	position: relative;
	left: -10px;
	border-radius: 50%;
	display: block;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

.vehicle-id-span {
	// padding-left: 5px;
}

mat-cell > span.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.vehicle-list {
	overflow: auto;
	max-height: 200px;
}

.mat-row:hover {
	background-color: lightblue;
	cursor: pointer;
}

.highlight {
	font-weight: bolder;
	font-style: italic;
	font-size: larger;
}
