<div class="scope-container" [class.scope-is-mobile]="mobileQuery.matches">
	<mat-toolbar color="primary" class="scope-toolbar">
		<button mat-fab aria-label="Go home" [routerLink]="['/']">
			<mat-icon>home</mat-icon>
			
		</button>
		<span class="nav-header">Scope Car Tracking</span>
	</mat-toolbar>
	<div class="scope-sidenav-container">
		<router-outlet></router-outlet>
	</div>
</div>