.scope-sidenav-container {
	display: flex;
	flex-direction: column;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  }
  
  .nav-header {
	padding-left: 1rem;
  }

  h1.scope-app-name {
	margin-left: 8px;
  }
  
  .scope-sidenav-container {
	/* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
	   causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
	flex: 1;
  }
  