.container {
  width: 100%;
  min-height: 12rem;
  height: 100%;
  overflow: hidden;
}

.loader {
  position: relative;
  left: 45%;
  top: 1rem;
  border: 1.6rem solid blue;
  border-radius: 50%;
  border-top: 1.6rem solid lightskyblue;
  width: 6rem;
  height: 6rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
